<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
          <%= form_with(model: content, class: "shadow p-3 mb-3 bg-dark") do |form| %>
            <% if content.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

                <ul>
                  <% content.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= form.label :title, class: "col-2 col-form-label text-light", value: (session[:lang].nil? or session[:lang] == 'gr')?  "Τίτλος" : "Title" %>
              <%= form.text_field :title, class: "form-control shadow rounded" , placeholder: (session[:lang].nil? or session[:lang] == 'gr')?  "Τίτλος υλικού μαθήματος" : "Content title", oninput: "enablePublish()" %>
            </div>

            <div class="field">
              <%= form.label :description, class: "col-2 col-form-label text-light" %>
              <%= form.text_area :description, class: "form-control shadow rounded", placeholder: (session[:lang].nil? or session[:lang] == 'gr')?  "Περιγραφή υλικού μαθήματος" : "Content description" , oninput: "enablePublish()"%>
            </div>

            <%= form.hidden_field :subject_id, value: @subject.id %>

            <div class="field">
              <div class="form-group row mt-3">
                    <%= form.label :category, class: "col-2 col-form-label text-light", value: (session[:lang].nil? or session[:lang] == 'gr')?  "Κατηγορία" : "Category" %>
                    <%= form.select :category, ['Link', 'Image', 'File'], {}, { class:"form-select ml-2", style:"width: 82%;", onchange:"hideField(); enablePublish();"} %>
                </div> 
              </div>

            <div class="field" id="urlField">
              <%= form.label :url, class: "col-2 col-form-label text-light" %>
              <%= form.text_field :url, class: "form-control shadow rounded", placeholder: (session[:lang].nil? or session[:lang] == 'gr')?  "Σύνδεσμος υλικού" : "Content link", oninput: "enablePublish()" %>
            </div>

            <div class="field text-light d-none" id="fileField">
              <%= form.label :file, class: "col-2 col-form-label text-light", value: (session[:lang].nil? or session[:lang] == 'gr')?  "Αρχείο" : "File" %>
              <%= form.file_field :file , onchange: "enablePublish()" %>
            </div>

            <div class="actions">
              <%= form.submit (session[:lang].nil? or session[:lang] == 'gr')?  "Καταχώρηση Υλικού" : "Submit" , id:"submitContentButton", class:"btn btn-outline-light mt-2", disabled: true %>
            </div>
          <% end %>
        </div>
    </div>
  </div>

<script>
  function hideField() {
    var content_category = document.getElementById("content_category").value;
    if (content_category == "Link"){
      document.getElementById("fileField").classList.add("d-none");
      document.getElementById("urlField").classList.remove("d-none");
      document.getElementById("content_file").value = null;
    } else {
      document.getElementById("fileField").classList.remove("d-none");
      document.getElementById("urlField").classList.add("d-none");
      document.getElementById("content_url").value = null;
    }
  }

  function enablePublish(){
    var title_check_result = title_check();
    var description_check_result = description_check();
    var content_check_result = content_check();
    if (title_check_result && description_check_result && content_check_result){
      console.log('enable');
      document.getElementById("submitContentButton").disabled = false;
    } else {
      console.log('disable');
      document.getElementById("submitContentButton").disabled = true;
    }
  }

  function title_check(){
    title = document.getElementById("content_title").value;
    return (title != '' && title != null)
  }

  function description_check(){
    var description = document.getElementById("content_description").value;
    return (description != '' && description != null)
  }

  function content_check(){
    var content_category = document.getElementById("content_category").value;
    if (content_category == "Link"){
      var url = document.getElementById("content_url").value;
      return (url != '' && url != null)
    } else if (content_category == "Image"){
      var file =   document.getElementById("content_file").value;
      return (file != '' && file != null && (file.includes(".png") || file.includes(".jpg") || file.includes(".jpeg")))
    } else if (content_category == "File") {
      var file =   document.getElementById("content_file").value;
      return (file != '' && file != null)
    }
  }  
  enablePublish();
</script>