<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
          <%= form_with(model: subject, class: "shadow p-3 mb-3 bg-success") do |form| %>
            <%= render '/shared/errors', obj: subject %>

            <div class="form-group row mt-2">
              <%= form.label :title, class: "col-2 col-form-label text-light", value: (session[:lang].nil? or session[:lang] == 'gr')?  "Τίτλος" : "Title" %>
              <%= form.text_field :title, class: "form-control shadow rounded", placeholder: (session[:lang].nil? or session[:lang] == 'gr')?  "Όνομα μαθήματος" : "Subject's Title"  %>
              
              <%= form.label :semester_id, class: "col-2 col-form-label text-light mt-2", value: (session[:lang].nil? or session[:lang] == 'gr')?  "Εξάμηνο" : "Semester" %>
              <%= form.select :semester_id, options_for_select( Semester.all.sort_by {|s| s.id}.collect {|u| u.id}),{ :prompt => (session[:lang].nil? or session[:lang] == 'gr')?  "Εξάμηνο" : "Semester"}, {:class => "form-control shadow rounded"} %>
              
            </div>

            <div class="d-flex justify-content-between mt-5">
              <% if (session[:lang].nil? or session[:lang] == 'gr') %>
                <%= form.submit @subject.new_record? ? "Δημιουργία Μαθήματος" : "Ανανέωση Μαθήματος", class: "btn btn-light", id:"submit_button" %>
              <% else %>
                <%= form.submit @subject.new_record? ? "Create Subject" : "Update Subject", class: "btn btn-light", id:"submit_button" %>
              <% end %>
              <%= link_to (session[:lang].nil? or session[:lang] == 'gr')?  "Προβολή" : 'Show', @subject, class: "btn btn-secondary text-light"  %>
              <a class="btn btn-dark" href="<%= root_path %>"><i class="fa-solid fa-arrow-left"></i> <%=(session[:lang].nil? or session[:lang] == 'gr')? 'Πίσω': "Back"%></a>
            </div>
          <% end %>
          </div>
    </div>
</div>  