<h4 class="my-2 mx-2"><i class="fa-solid fa-flask"></i> <%= @subject.title %></h4>

<div class="accordion mt-3" id="accordion-professors">
  <div class="accordion-item">
    <h2 class="accordion-header" id="professorsHeader">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#professorsCollapse" aria-expanded="false" aria-controls="professorsCollapse">
        <h5><i class="fa-solid fa-chalkboard-user"></i> <%=(session[:lang].nil? or session[:lang] == 'gr')?  "Διδάσκοντες" : "Professors"%> (<%= @subject.professors.size %>)</h5>
      </button>
    </h2>
    <div id="professorsCollapse" class="accordion-collapse collapse show" aria-labelledby="professorsHeader" data-bs-parent="#accordion-professors">
      <div class="accordion-body" id="prof-list">
        <div class="d-flex mb-3 w-50" style="height: 40px;">
          <input class="search form-control w-75" placeholder="<%= (session[:lang].nil? or session[:lang] == 'gr') ? "Aναζήτηση" : "Search" %>" />
          <button class="sort btn btn-dark" data-sort="profDate">
            <%= (session[:lang].nil? or session[:lang] == 'gr') ? "Ημερομηνία" : "Date" %>
          </button>
        </div>
        <table class="table table-striped table-dark">
          <thead style="font-size: 15px;">
            <tr>
              <th></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Όνομα" : "Full Name"%></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Ημερομηνία Εγγραφής" : "Attended At"%></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Ενέργειες" : "Actions"%></th>
            </tr>
          </thead>

          <tbody class="list" style="font-size: 14px;">
            <% @subject.professors.each do |professor| %>
              <tr>
                  <td><% if professor.avatar.attached? %>
                        <%= image_tag professor.avatar, style: "width: 35px; height: 35px; object-fit: cover;", class: "rounded"%>
                      <% else %>
                        <i class="fa-regular fa-user text-align-center" style="font-size: 20px;"></i>
                      <% end %>
                  </td>
                  <td class="profName"><%= professor.full_name %></td>
                  <td class="profDate"><%= professor.subject_attends.find_by(subject_id: @subject.id).created_at.to_date %></td>
                  <td class="d-flex">
                    <button type="button" class="btn btn-dark mx-1" data-bs-toggle="modal" data-bs-target="<%="#professorsModal-#{professor.id}"%>">
                      <i class="fa-solid fa-eye"></i> <%=(session[:lang].nil? or session[:lang] == 'gr')?  "Προβολή" : "Show"%>
                    </button>
                  <% if @current_user.role == "Admin" or (@current_user.role == "Professor" and @current_user == professor)%>
                      <%= link_to (session[:lang].nil? or session[:lang] == 'gr')?  "Απεγγραφή" : "Resign", professor.subject_attends.find_by(subject_id: @subject.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                  <% end %>
              </tr>
              <!-- professor_Modal -->
              <div class="modal fade" id="<%="professorsModal-#{professor.id}"%>" tabindex="-1" aria-labelledby="<%="professorsModalLabel-#{professor.id}"%>" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header bg-success">
                      <h5 class="modal-title text-light" id="<%="professorsModalLabel-#{professor.id}"%>"></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="card flex-row border-0">
                        <% if professor.avatar.attached? %>
                          <%= image_tag professor.avatar, class:"card-img-top w-50" %>
                        <% else %>
                          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="card-img-top w-50" alt="">
                        <% end %>
                        <div class="card-body d-flex aling-items-center">
                          <div class="align-self-center">
                            <h4 class="card-title"><%=professor.full_name%></h4>
                            <p class="card-text"><h6><strong>Email:</strong> <a href="mailto:<%= professor.email %>" target="_blank"><%= professor.email %></a></h6></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="accordion mt-3" id="accordion-content">
  <div class="accordion-item">
    <h2 class="accordion-header" id="contentHeader">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contentCollapse" aria-expanded="false" aria-controls="contentCollapse">
        <h5><i class="fa-solid fa-paperclip"></i> <%=(session[:lang].nil? or session[:lang] == 'gr')?  "Υλικό" : "Content"%> (<%= @subject.contents.size %>)</h5>
      </button>
    </h2>
    <div id="contentCollapse" class="accordion-collapse collapse show" aria-labelledby="contentHeader" data-bs-parent="#accordion-content">
      <div class="accordion-body" id="cont-list">
        <div class="d-flex mb-3 w-50" style="height: 40px;">
          <input class="search form-control w-75" placeholder="<%= (session[:lang].nil? or session[:lang] == 'gr') ? "Aναζήτηση" : "Search" %>" />
          <button class="sort btn btn-dark" data-sort="conDate">
            <%= (session[:lang].nil? or session[:lang] == 'gr') ? "Ημερομηνία" : "Date" %>
          </button>
        </div>
        <% if (@current_user.role == "Professor" and not @current_user.subject_attends.find_by(subject_id: @subject.id).nil?) %>
          <a class="btn btn-dark mb-2" href="<%= new_content_path(subject_id: @subject.id) %>"><i class="fa-solid fa-plus"></i> Υλικό</a>
        <% end %>
        <table class="table table-striped table-dark">
          <thead style="font-size: 15px;">
            <tr>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Τίτλος" : "Title"%></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Περιγραφή" : "Description"%></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Τύπος" : "Type"%></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Ημερομηνία" : "Created at"%></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Ενέργειες" : "Actions"%></th>
            </tr>
          </thead>

          <tbody class="list" style="font-size: 14px;">
            <% @subject.contents.each do |content| %>
              <tr>
                  <td class="conTitle"><%= content.title %></td>
                  <td class="conDescription"><%= content.description %></td>
                  <td class="conCategory"><%= content.category %></td>
                  <td class="conDate"><%= content.created_at.to_date %></td>
                  <td class="d-flex">
                    <button type="button" class="btn btn-dark mx-1" data-bs-toggle="modal" data-bs-target="<%="#contentModal-#{content.id}"%>">
                      <i class="fa-solid fa-eye"></i> <%=(session[:lang].nil? or session[:lang] == 'gr')?  "Προβολή" : "Show"%>
                    </button>
                  <% if @current_user.role == "Admin" or (@current_user.role == "Professor" and not @current_user.subject_attends.find_by(subject_id: @subject.id).nil?)%>
                      <a class="btn btn-dark mx-1" href="<%= edit_content_path(content, subject_id: content.subject_id )%>"><i class="fa-solid fa-screwdriver-wrench"></i> <%=(session[:lang].nil? or session[:lang] == 'gr')?  "Επεξεργασία" : "Edit"%></a>
                      <%= link_to (session[:lang].nil? or session[:lang] == 'gr')?  'Διαγραφή' : "Delete", content, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                  <% end %>
              </tr>
              <!-- Content_Modal -->
              <div class="modal fade" id="<%="contentModal-#{content.id}"%>" tabindex="-1" aria-labelledby="<%="contentModalLabel-#{content.id}"%>" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header bg-success">
                      <h4 class="modal-title text-light" id="<%="contentModalLabel-#{content.id}"%>"><strong><%= content.title %></strong></h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <% if content.image.attached? %>
                        <%= image_tag content.image, class:"card-img-top mt-4" %>
                        <h6 class="mt-4"><strong><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Κατεβάστε την εικόνα" : "Download the image"%>: </strong></h6>
                        <%=link_to(content.image.filename, rails_blob_path(content.image, disposition: 'attachment'))%>
                      <% end %>
                      <h5 class="mt-4"><strong> <%=(session[:lang].nil? or session[:lang] == 'gr')?  "Περιγραφή" : "Description"%>:</strong> <%= content.description %></h5>
                      <% if not content.url.blank? %>
                        <h6 class="mt-4"><strong><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Περισσότερες πληροφορίες στον σύνδεσμο" : "More details in the link"%>:</strong> <a href="<%= content.url %>" target="_blank"><%= content.url %></a></h6>
                      <% end %>
                      <% if content.file.attached? %>
                        <h6 class="mt-5"><strong><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Κατεβάστε το αρχείο" : "Download file"%>:</strong></h6>
                        <%=link_to(content.file.filename, rails_blob_path(content.file, disposition: 'attachment'))%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="accordion mt-3" id="accordion-students">
  <div class="accordion-item">
    <h2 class="accordion-header" id="studentsHeader">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#studentsCollapse" aria-expanded="false" aria-controls="studentsCollapse">
        <h5><i class="fa-solid fa-graduation-cap"></i> <%=(session[:lang].nil? or session[:lang] == 'gr')?  "Φοιτητές" : "Students"%> (<%= @subject.students.size %>)</h5>
      </button>
    </h2>
    <div id="studentsCollapse" class="accordion-collapse collapse show" aria-labelledby="studentsHeader" data-bs-parent="#accordion-students">
      <div class="accordion-body" id="stud-list">
        <div class="d-flex mb-3 w-50" style="height: 40px;">
          <input class="search form-control w-75" placeholder="<%= (session[:lang].nil? or session[:lang] == 'gr') ? "Aναζήτηση" : "Search" %>" />
          <button class="sort btn btn-dark" data-sort="studDate">
            <%= (session[:lang].nil? or session[:lang] == 'gr') ? "Ημερομηνία" : "Date" %>
          </button>
        </div>
        <table class="table table-striped table-dark">
          <thead style="font-size: 15px;">
            <tr>
              <th></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Όνομα" : "Full name"%></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Ημερομηνία Εγγραφής" : "Attended At"%></th>
              <th><%=(session[:lang].nil? or session[:lang] == 'gr')?  "Ενέργειες" : "Actions"%></th>
            </tr>
          </thead>

          <tbody class="list" style="font-size: 14px;">
            <% @subject.students.each do |student| %>
              <tr>
                  <td><% if student.avatar.attached? %>
                        <%= image_tag student.avatar, style: "width: 35px; height: 35px; object-fit: cover;", class: "rounded"%>
                      <% else %>
                        <i class="fa-regular fa-user text-align-center" style="font-size: 20px;"></i>
                      <% end %>
                  </td>
                  <td class="studName"><%= student.full_name %></td>
                  <td class="studDate"><%= student.subject_attends.find_by(subject_id: @subject.id).created_at.to_date %></td>
                  <td class="d-flex">
                    <button type="button" class="btn btn-dark mx-1" data-bs-toggle="modal" data-bs-target="<%="#studentsModal-#{student.id}"%>">
                      <i class="fa-solid fa-eye"></i> <%=(session[:lang].nil? or session[:lang] == 'gr')?  "Προβολή" : "Show"%>
                    </button>
                  <% if @current_user.role == "Admin" or (@current_user.role == "Professor" and not @current_user.subject_attends.find_by(subject_id: @subject.id).nil?) or (@current_user.role == "Student" and @current_user == student)%>
                      <%= link_to (session[:lang].nil? or session[:lang] == 'gr')?  "Απεγγραφή" : "Resign", student.subject_attends.find_by(subject_id: @subject.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                  <% end %>
              </tr>
              <!-- Student_Modal -->
              <div class="modal fade" id="<%="studentsModal-#{student.id}"%>" tabindex="-1" aria-labelledby="<%="studentsModalLabel-#{student.id}"%>" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header bg-success">
                      <h5 class="modal-title" id="<%="studentsModalLabel-#{student.id}"%>"></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="card flex-row border-0">
                        <% if student.avatar.attached? %>
                          <%= image_tag student.avatar, class:"card-img-top w-50" %>
                        <% else %>
                          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="card-img-top w-50" alt="">
                        <% end %>
                        <div class="card-body d-flex aling-items-center">
                          <div class="align-self-center">
                            <h4 class="card-title"><%=student.full_name%></h4>
                            <p class="card-text"><h6><strong>Email:</strong> <a href="mailto:<%= student.email %>" target="_blank"><%= student.email %></a></h6></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<a class="btn btn-dark mx-1 mt-4" href="<%= root_path %>"><i class="fa-solid fa-arrow-left"></i></i> Πίσω</a>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
  // PROFESSORS
  var profOptions = {
      valueNames: [ 'profName', 'profDate' ]
  };
  var profList = new List('prof-list', profOptions);

  // CONTENTS
  var contOptions = {
      valueNames: [ 'conTitle', 'conDescription', 'conCategory', 'conDate' ]
  };
  var contList = new List('cont-list', contOptions);

  // STUDENTS
  var studOptions = {
      valueNames: ['studName', 'studDate' ]
  };
  var studList = new List('stud-list', studOptions);


</script>
